<div class="footer">
  <div class="row text-center">
    <div class="footer-statement">
      <h3><i>Compra um carro com confiança.</i></h3>
    </div>
  </div>
  <div class="row about text-center">
    <%= link_to 'SOBRE A HUUBSTER'.html_safe, about_path %>
  </div>
  <div class="row footer-links text-center" style="padding-top: 10px">
    <div class="col-xs-12">
      <%= link_to 'CARREIRAS'.html_safe, careers_path %>
      <%= link_to 'PARCEIROS'.html_safe, partners_path %>
      <%= link_to 'PRESS & MEDIA'.html_safe, press_path %>
      <%= link_to 'CONTACTOS'.html_safe, contact_path %>
    </div>
  </div>
  <div class="row text-center">
    <p id="copyright">© 2017 Huubster. Todos os direitos reservados.</p>
  </div>
  <div class="row footer-copyright text-center">
    <div class="col-xs-12">
      <%= link_to 'Condições'.html_safe, terms_path %>
      <%= link_to 'Privacidade'.html_safe, privacy_path %>
      <%= link_to 'Mapa do Site'.html_safe, site_map_path %>
    </div>
  </div>
  <div class="container footer-social text-center">
    <div class="parent">
      <div class="child"><a href="https://www.facebook.com/huubster.PT" target="_blank"><i class="fa fa-facebook"></i></a></div>
      <div class="child"><a href="https://www.linkedin.com/company/11186121/" target="_blank"><i class="fa fa-linkedin"></i></a></div>
      <div class="child"><a href="mailto:geral@huubster.com"><i class="fa fa-envelope-o"></i></a></div>
    </div>  
  </div>
</div>