<% if I18n.locale == :pt %>
<div class="footer">
  <div class="row text-center">
    <div class="footer-statement">
      <h3><i>Compra um carro com confiança.</i></h3>
    </div>
  </div>
  <div class="row about text-center">
    <%= link_to 'SOBRE A HUUBSTER', about_path %>
  </div>
  <div class="row footer-links text-center" style="padding-top: 10px">
    <div class="col-xs-12">
      <%= link_to 'CARREIRAS', careers_path %>
      <%= link_to 'PRESS & MEDIA', press_path %>
      <%= link_to 'CONTACTOS', contact_path %>
    </div>
  </div>
  <div class="row text-center">
    <p id="copyright">© 2017 Huubster. Todos os direitos reservados.</p>
  </div>
  <div class="row footer-copyright text-center">
    <div class="col-xs-12">
      <%= link_to 'Termos de Uso', terms_path %>
      <%= link_to 'Política de Privacidade', privacy_path %>
      <%= link_to 'Mapa do Site', site_map_path %>
    </div>
  </div>
  <div class="container footer-social text-center">
    <div class="parent">
      <div class="child"><a href="https://www.facebook.com/huubster.PT" target="_blank"><i class="fa fa-facebook"></i></a></div>
      <div class="child"><a href="https://www.linkedin.com/company/11186121/" target="_blank"><i class="fa fa-linkedin"></i></a></div>
      <div class="child"><a href="mailto:geral@huubster.com"><i class="fa fa-envelope-o"></i></a></div>
    </div>  
  </div>
</div>
<% else %>
<div class="footer">
  <div class="row text-center">
    <div class="footer-statement">
      <h3><i>Buy a car with confidence.</i></h3>
    </div>
  </div>
  <div class="row about text-center">
    <%= link_to 'ABOUT HUUBSTER', about_path %>
  </div>
  <div class="row footer-links text-center" style="padding-top: 10px">
    <div class="col-xs-12">
      <%= link_to 'CAREERS', careers_path %>
      <%= link_to 'PRESS & MEDIA', press_path %>
      <%= link_to 'CONTACTS', contact_path %>
    </div>
  </div>
  <div class="row text-center">
    <p id="copyright">© 2017 Huubster. All rights reserved.</p>
  </div>
  <div class="row footer-copyright text-center">
    <div class="col-xs-12">
      <%= link_to 'Terms of Use', terms_path %>
      <%= link_to 'Privacy Policy', privacy_path %>
      <%= link_to 'Site Map', site_map_path %>
    </div>
  </div>
  <div class="container footer-social text-center">
    <div class="parent">
      <div class="child"><a href="https://www.facebook.com/huubster.PT" target="_blank"><i class="fa fa-facebook"></i></a></div>
      <div class="child"><a href="https://www.linkedin.com/company/11186121/" target="_blank"><i class="fa fa-linkedin"></i></a></div>
      <div class="child"><a href="mailto:geral@huubster.com"><i class="fa fa-envelope-o"></i></a></div>
    </div>  
  </div>
</div>
<% end %>