<div>
  <div id="nav" class="navbar navbar-inverse navbar-fixed-top" data-spy="affix">
      <div class="navbar-header">
        <%= link_to root_path do %>
          <%= image_tag "logo.png" %>
        <% end %>
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <% if I18n.locale == :pt %>
            <li class="navbar-li"><%= link_to 'TORNE-SE UM PARCEIRO'.html_safe, partners_path,  id: "navbar-partner" %></li>
            <li class="navbar-li"><%= link_to 'COMO FUNCIONA'.html_safe, about_path, class: "navbar-huubster-item navbar-huubster-link" %></li>
            <li class="navbar-li"><%= link_to 'PREÇOS'.html_safe, pricing_path, class: "navbar-huubster-item navbar-huubster-link" %></li>
            <li class="navbar-li"><%= link_to 'CRÍTICAS'.html_safe, pricing_path, class: "navbar-huubster-item navbar-huubster-link" %></li>
            <li class="navbar-li"><%= link_to 'MARCAÇÃO'.html_safe, pricing_path, class: "navbar-huubster-item navbar-huubster-link" %></li>
            <li class="navbar-li"><%= link_to 'FAQ'.html_safe, faq_path, class: "navbar-huubster-item navbar-huubster-link" %></li>
          <% else %>
            <li class="navbar-li"><%= link_to 'BECOME A PARTNER'.html_safe, about_path, id: "navbar-huubster-partner" %></li>
            <li class="navbar-li"><%= link_to 'HOW IT WORKS'.html_safe, about_path, class: "navbar-huubster-item navbar-huubster-link" %></li>
            <li class="navbar-li"><%= link_to 'PRICING'.html_safe, pricing_path, class: "navbar-huubster-item navbar-huubster-link" %></li>
            <li class="navbar-li"><%= link_to 'REVIEWS'.html_safe, pricing_path, class: "navbar-huubster-item navbar-huubster-link" %></li>
            <li class="navbar-li"><%= link_to 'BOOKING'.html_safe, pricing_path, class: "navbar-huubster-item navbar-huubster-link" %></li>
            <li class="navbar-li"><%= link_to 'FAQ'.html_safe, faq_path, class: "navbar-huubster-item navbar-huubster-link" %></li>
          <% end %>
        </ul>
        <ul class="nav pull-right navbar-nav">
          <% if I18n.locale == :pt %>
            <li class="navbar-li"><%= link_to url_for(locale: :en), class: "navbar-huubster-item navbar-huubster-link"  do %>
              <span class="fa fa-globe">&nbsp;&nbsp;</span>
                PT
            <% end %></li>
          <% else %>
            <li class="navbar-li"><%= link_to url_for(locale: :pt), class: "navbar-huubster-item navbar-huubster-link" do %>
              <span class="fa fa-globe">&nbsp;&nbsp;</span>
                EN
            <% end %></li>
          <% end %>
          <!-- Login link (when logged out) -->
          <li class="navbar-li"><%= link_to t(".sign_in", default: "INICIAR SESSÃO"), new_user_session_path, class: "navbar-huubster-item navbar-huubster-link" %></li>
        </ul>
      </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    /* affix the navbar after scroll below header */
    $('#nav').affix({
      offset: {
        top: $('.cd-intro').offset().top
      }
    }); 
  </script>
<% end %>