<div class="container">
  <button class="accordion"><%= t('home.question_1') %></button>
  <div class="panel">
    <p style="text-align:left; text-indent: 30px; padding: 20px"><%= t('home.answer_1') %></p>
  </div>

  <button class="accordion"><%= t('home.question_2') %></button>
  <div class="panel">
    <p style="text-align:left; text-indent: 30px; padding: 20px"><%= t('home.answer_2') %></p>
  </div>

  <button class="accordion"><%= t('home.question_3') %></button>
  <div class="panel">
    <p style="text-align:left; text-indent: 30px; padding: 20px"><%= t('home.answer_3') %></p>
  </div>

  <button class="accordion"><%= t('home.question_4') %></button>
  <div class="panel">
    <p style="text-align:left; text-indent: 30px; padding: 20px"><%= t('home.answer_4') %></p>
  </div>

  <button class="accordion"><%= t('home.question_5') %></button>
  <div class="panel">
    <p style="text-align:left; text-indent: 30px; padding: 20px"><%= t('home.answer_5') %></p>
  </div>
</div>