<div class="wrapper-how-works container" id="how-works">
  <div class="how-works">
    <%= image_tag("home_how_works/how_works1.png") %>
    <h4 class="text-center"><%= t('home.how_works_h_1') %></h4>
    <p class="text-center" id="how-works-p"><%= t('home.how_works_sh_1') %></p>
  </div>
  <div class="how-works">
    <%= image_tag("home_how_works/how_works2.png") %>
    <h4 class="text-center"><%= t('home.how_works_h_2') %></h4>
    <p class="text-center"><%= t('home.how_works_sh_2') %></p>
  </div>
  <div class="how-works">
    <%= image_tag("home_how_works/how_works3.png") %>
    <h4 class="text-center"><%= t('home.how_works_h_3') %></h4>
    <p class="text-center"><%= t('home.how_works_sh_3') %></p>
  </div>
  <div class="how-works">
    <%= image_tag("home_how_works/how_works4.png") %>
    <h4 class="text-center"><%= t('home.how_works_h_4') %></h4>
    <p class="text-center"><%= t('home.how_works_sh_4') %></p>
  </div>
</div>