<div class="wrapper-how-works container" id="how-works">
  <div class="how-works">
    <%= image_tag("home_how_works/how_works1.png") %>
    <h4 class="text-center"><%= t('home.how_works_h_1') %></h4>
    <p class="text-center" id="how-works-p"><%= t('home.how_works_sh_1') %></p>
  </div>
  <div class="how-works">
    <%= image_tag("home_how_works/how_works2.png") %>
    <h4 class="text-center"><%= t('home.how_works_h_2') %></h4>
    <p class="text-center"><%= t('home.how_works_sh_2') %></p>
  </div>
  <div class="how-works">
    <%= image_tag("home_how_works/how_works3.png") %>
    <h4 class="text-center"><%= t('home.how_works_h_3') %></h4>
    <p class="text-center"><%= t('home.how_works_sh_3') %></p>
  </div>
  <div class="how-works">
    <%= image_tag("home_how_works/how_works4.png") %>
    <h4 class="text-center"><%= t('home.how_works_h_4') %></h4>
    <p class="text-center"><%= t('home.how_works_sh_4') %></p>
  </div>
</div>

<div class="text-center">
  <p style="padding-top: 10px"><%= t('home.location_description') %></p>
</div>

<div class="wrapper-how-works container" id="how-works">
  <div class="how-works">
    <h5 class="text-center"><%= t('home.location_lisbon') %></h5>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 145 110">
      <path id="OEIRAS" class="js-map-target map-target" d="m86.242 70.217h-10.75v-4.33h-10.001l-2.642 2.09h0.552l-4.03 15.378h-2.393v7.844l1.12 0.504 11.425-7.29h12.016l2.758 1.577 2.622-6.482v-2.12l2.783-2.783v-0.928z"/></path>
      <path id="AMADORA" class="js-map-target map-target" d="m80.122 67.678h-4.628v2.54h10.75l3.46 3.46v-9.94h3.843v-3.892l-6.408-5.306v-6.12h-5.636v6.456l-3.658 3.658 2.277 2.277z"/></path>
      <path id="ODIVELAS" d="m87.062 48.42h0.076v6.12l6.408 5.306v-0.48l13.17-9.555v-1.3l-1.787-3.393h-2.38v2.263h-1.67l-4.287-4.765h-3.574v-2.56l-6.134-2.92-2.263 0.776v2.8h-2.978v4.288h5.42z" class="js-map-target map-target"/></path>
      <path id="CASCAIS" class="js-map-target map-target" d="m59.728 67.51-2.74-2.74-6.67 3.573h-3.99l-3.932-6.134h-3.098l-1.34 1.34-3.602-2.592h-1.608v-1.905h-15.008l-2.8 2.858 2.865 3.08v6.5l-4.062 6.092v1.896l6.838 5.01h7.245l1.692 1.693h3.047l1.49-1.42-1.83-1.83 5.553-1.761 19.202 10.03v-7.845h2.39l4.07-15.846z"/></path>
      <path id="SINTRA" class="js-map-target map-target" d="m81.644 40.71h2.978v-2.8l0.31-0.105-2.752-2.872v-2.978h2.74v-3.752h-1.31v-2.733h-1.406v-2.12h-3.605l-4.136-4.773v-3.605h-3.71l-5.41 4.878h-6.15l-6.89-3.075v-3.605l-7.74-2.97v-4.983l-4.136-3.817h-8.138l-7.4 21.622v1.548l-14.95 29.66 5.003 7.68 2.8-2.857h15.007v1.905h1.608l3.603 2.59 1.34-1.34h3.098l3.93 6.135h3.99l6.67-3.573 2.74 2.74h4.05l0.047 0.043 1.667-1.666h10.003v1.79h4.628v-6.866l-2.277-2.276 3.658-3.658v-6.457h5.56v-3.422h-5.42z"/></path>
      <path id="LOURES" class="js-map-target map-target" d="m128.58 31.82v-2.59l-3.054-2.778-2.037 2.59h-1.76l-2.13 5.555h-2.128v-8.516h4.258v-3.053l-4.072-8.794h9.626l2.592-2.592v-5.275l-2.592-0.74v-2.866l-3.24 2.396h-3.85l-2.982-1.79-3.697-5.367h-4.89l-3.2 3.294-9.517 9.517-3.737-3.737h-5.14l-2.49 2.492 2.013 3.5v10.708l-1.377 1.696h-1.566v2.733h1.31v3.752h-2.74v2.978l2.753 2.872 1.953-0.67 6.134 2.92v2.56h3.573l4.288 4.765h1.67v-2.263h2.38l1.787 3.394v1.3l0.347-0.25 2.584 2.584 7.355 2.584 2.518 2.783h0.928v-7.685h3.596l1.574-8.285 3.795-6.017 0.648-2.036z"/></path>
      <path id="LISBOA" class="js-map-target map-target"/ d="m82.626 89.537h8.667l5.417-3.25h12.707l8.274-5.713 3.153-4.137 2.56-9.16v-16.744l0.64-0.708h-3.595v7.686h-0.927l-2.517-2.782-7.355-2.584-2.584-2.584-13.516 9.806v4.373h-3.843v10.865l-2.783 2.783v2.12l-2.62 6.483z"></path>
    </svg>
  </div>
  <div class="how-works">
    <h5 class="text-center"><%= t('home.location_tagus') %></h5>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 145 110">
      <path id="SETUBAL" class="js-map-target map-target" d="m91.462 80.552 5.036-7.08-1.77-2.993h0.948l-2.405-1.273-0.19-1.996-1.616-1.52 1.616-1.426 0.475-5.323 1.33-1.52-1.995-1.237-1.046 1.806h-3.897l-5.418 3.232-3.137-2.662h-1.995l-1.332 2.567-1.14-1.9-5.324-0.19-1.045 3.517h-9.127l-0.57 2.47h-4.087l-3.992-4.086h-2.09l-4.85-5.702h-1.793l0.37 5.513-1.807 2.187v5.038l-1.996 4.467 1.71 4.088 1.332-0.286 3.467 6.75h2.33l3.612-3.232 0.38-2.757h7.89l2.185-5.798 0.95-0.95 1.902 1.9h3.707l5.228 4.943 7.922 4.375z"/></path>
      <path id="SESIMBRA" class="js-map-target map-target" d="m45.125 82.988-3.468-6.75-1.332 0.287-1.71-4.088 1.995-4.467v-5.038l1.806-2.186-0.348-5.204-2.22-0.784-1.71 5.99 0.76 1.52-2.567 1.425-1.378-1.378 0.143-3.28-3.422 1.806h-1.9l-3.423-4.848h-6.18l-3.385 2.025-1.46 2.347 1.234 10.076-2.376 9.6-3.232 5.704-2.28 6.37 4.89 0.664 4.9-4.182h6.368l3.517-1.14 1.094-1.094 6.32 1.283 8.46-3.04 0.965-1.617z"/></path>
      <path id="ALMADA" class="js-map-target map-target" d="m13.908 56.278 1.526 3.916 1.354-2.177 3.386-2.025h0.166l-0.577-3.042-2.535-2.85 0.855-1.522-0.76-0.666 0.76-5.513 2.727-3.327h3.262l1.615-1.806-2.947-2.09 0.76-3.328-1.426-1.426-6.083 3.042h-9.886l-3.977 2.091 3.408 3.803 4.277 6.844z"/></path>
      <path id="PALMELA" class="js-map-target map-target" d="m116.42 40.831-1.558-3.942-7.518 3.758-1.467-2.567-3.3-1.833 2.292-2.75-9.17-2.568-4.858 4.4h-3.76l0.46-6.14 3.392 0.824 2.842-2.384 2.933 1.008 3.025-4.858-10.268-2.567v-1.767l-4.31 1.492-2.84-1.65-0.192-0.205-5.386 14.04-12.65 1.224v2.548l-1.917 1.221-3.872-1.324v1.325l-1.426 1.02 1.324 2.344-1.222 1.834-0.714 3.362-2.343-3.974h-2.447l0.51 5.808-5.504 1.733v1.528l-2.63 3.463 4.847 5.703h2.09l3.993 4.088h4.087l0.57-2.47h9.126l1.044-3.518 5.324 0.19 1.14 1.9 1.33-2.566h1.997l3.137 2.662 5.418-3.232h3.897l1.046-1.806 1.996 1.236-1.332 1.52-0.475 5.324-1.616 1.425 1.616 1.52 0.19 1.998 2.405 1.274h2.728l6.26-7.35 6.937-0.878-3.48-12.315 4.355-3.158 0.23-2.242 2.345-1.324 1.41-2.38z"/></path>
      <path id="MONTIJO" class="js-map-target map-target active"/ d="m134.66 13.695 3.21 1.1v1.833l-3.485 3.392v1.742l1.558 1.283v2.384l-3.21 1.008-1.833 3.667-4.95 3.3-3.3 1.008v1.56l-4.218 4.858h-2.017l-1.558-3.942-7.518 3.758-1.467-2.567-3.3-1.833 2.292-2.75-9.17-2.568-4.858 4.4h-3.76l0.46-6.14 3.392 0.824 2.842-2.384 2.933 1.008 3.025-4.858-10.268-2.567v-1.766l2.842-0.984 1.282-7.173 6.968-12.446v-2.842l3.667 4.492 2.533 0.488 2.667 2.584h2.833l1.417-4.5 4.083-2h2.334l-1.667 2.915v8.25l-1.833 1 4.75 3.917 1.5-1.166 5.417 2.417 6.404-0.704zm-81.76 17.49v6.42l3.15 0.305 0.816 1.223 1.426-1.02v-1.324l3.872 1.325 1.923-1.222v-2.547l-1.616-8.253-7.948-4.38-7.337 2.037-3.057-1.835-3.363 2.14-0.408 6.874 1.63-0.104 7.643-2.593 3.27 2.955z"></path>
      <path id="ALCOCHETE" class="js-map-target map-target"/ d="m54.524 21.711 7.948 4.38 1.617 8.255 12.649-1.221 5.385-14.04-5.034-5.39-7.06 4.493-4.033-0.64-1.467 3.025-2.842-3.21 0.184-2.658-2.11-7.7-5.59-7.255-0.065 0.487-4.632 6.918 1.677 0.276 3.85-1.615 1.925 3.042-5.712-0.497-4.285 4.78 1.428 1.678 8.135-0.42-3.664 2.034h-4.16l-2.237-1.428-3.353 3.29 1.053 3.62 3.056 1.834z"></path>
      <path id="SEIXAL" class="js-map-target map-target"/ d="m20.81 39.073-2.727 3.327-0.76 5.513 0.76 0.666-0.855 1.52 2.535 2.852 0.577 3.042h6.013l3.422 4.848h1.9l3.423-1.806-0.143 3.28 1.378 1.377 2.567-1.425-0.76-1.52 1.71-5.99-0.296-1.754v-3.41l-1.786-3.79v-1.568l-3.085-5.36-3.14-0.54-3.193 0.487-2.663-1.555-1.616 1.806z"></path>
      <path id="BARREIRO" class="js-map-target map-target"/ d="m40.528 41.205v-7.903l2.274-1.95 0.094-0.834-0.905 0.307-1.63 0.104-0.51 0.586-2.083 0.217-1.678 2.814-3.572 1.733-1.292 2.106 0.318-0.05 3.14 0.54 3.084 5.36v1.57l1.786 3.788v3.41l0.297 1.754 2.22 0.784-0.022-0.308h1.795l2.63-3.463v-1.528l0.28-0.088v-5.65h-2.166z"></path>
      <path id="MOITA" class="js-map-target map-target"/ d="m56.97 43.313-0.714 3.362-2.343-3.974h-2.445l0.51 5.808-5.504 1.733 0.28-0.088v-5.65h-2.166l-4.06-3.3v-7.903l2.274-1.95 0.094-0.834 6.737-2.286 3.27 2.955v6.42l3.15 0.305 0.815 1.223 1.324 2.344z"></path>
    </svg>
  </div>
</div>