<div class="container text-center">
  <p style="margin-top: 20px; margin-bottom: 20px"><%= t('home.location_description') %></p>
</div>

<div class="container visible-xs visible-sm">
  <div class=row>
    <div class="how-works col-xs-6">
      <h5 class="text-center"><%= t('home.location_lisbon') %></h5>
      <ul>
        <li style="margin-top: 45px">AMADORA</li>
        <li>CASCAIS</li>
        <li>LISBOA</li>
        <li>LOURES</li>
        <li>ODIVELAS</li>
        <li>OEIRAS</li>
        <li>SINTRA</li>
      </ul>
    </div>
    <div class="col-xs-6">
      <h5 class="text-center"><%= t('home.location_tagus') %></h5>
      <ul style="text-align: right">
        <li>ALCOCHETE</li>
        <li>ALMADA</li>
        <li>BARREIRO</li>
        <li>MOITA</li>
        <li>MONTIJO</li>
        <li>PALMELA</li>
        <li>SEIXAL</li>
        <li>SESIMBRA</li>
        <li>SETÚBAL</li>
      </ul>
    </div>
  </div>
</div>

<div class="wrapper-how-works container hidden-xs hidden-sm" id="how-works">
  <div class="how-works">
    <h5 class="text-center"><%= t('home.location_lisbon') %></h5>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 145 110">
      <g><path
        id="OEIRAS"
        d="m 86.242,72.716998 -10.75,0 0,-4.33 -10.001,0 -2.642,2.09 0.552,0 -4.03,15.378 -2.393,0 0,7.844 1.12,0.504 11.425,-7.29 12.016,0 2.758,1.577 2.622,-6.482 0,-2.12 2.783,-2.783 0,-0.928 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>OEIRAS</title>
      </path></g>
      <g><path
        d="m 80.122,70.177998 -4.628,0 0,2.54 10.75,0 3.46,3.46 0,-9.94 3.843,0 0,-3.892 -6.408,-5.306 0,-6.12 -5.636,0 0,6.456 -3.658,3.658 2.277,2.277 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>AMADORA</title>
      </path></g>
      <g><path
        d="m 87.062,50.919998 0.076,0 0,6.12 6.408,5.306 0,-0.48 13.17,-9.555 0,-1.3 -1.787,-3.393 -2.38,0 0,2.263 -1.67,0 -4.287,-4.765 -3.574,0 0,-2.56 -6.134,-2.92 -2.263,0.776 0,2.8 -2.978,0 0,4.288 5.42,0 z"
        style="stroke:#66c4cd;stroke-opacity:1">
        <title>ODIVELAS</title>
      </path></g>
      <g><path
        d="m 59.728,70.009998 -2.74,-2.74 -6.67,3.573 -3.99,0 -3.932,-6.134 -3.098,0 -1.34,1.34 -3.602,-2.592 -1.608,0 0,-1.905 -15.008,0 -2.8,2.858 2.865,3.08 0,6.5 -4.062,6.092 0,1.896 6.838,5.01 7.245,0 1.692,1.693 3.047,0 1.49,-1.42 -1.83,-1.83 5.553,-1.761 19.202,10.03 0,-7.845 2.39,0 4.07,-15.846 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>CASCAIS</title>
      </path></g>
      <g><path
        d="m 81.644,43.209998 2.978,0 0,-2.8 0.31,-0.105 -2.752,-2.872 0,-2.978 2.74,0 0,-3.752 -1.31,0 0,-2.733 -1.406,0 0,-2.12 -3.605,0 -4.136,-4.773 0,-3.605 -3.71,0 -5.41,4.878 -6.15,0 -6.89,-3.075 0,-3.605 -7.74,-2.97 0,-4.982998 -4.136,-3.817 -8.138,0 -7.4,21.621998 0,1.548 -14.95,29.66 5.003,7.68 2.8,-2.857 15.007,0 0,1.905 1.608,0 3.603,2.59 1.34,-1.34 3.098,0 3.93,6.135 3.99,0 6.67,-3.573 2.74,2.74 4.05,0 0.047,0.043 1.667,-1.666 10.003,0 0,1.79 4.628,0 0,-6.866 -2.277,-2.276 3.658,-3.658 0,-6.457 5.56,0 0,-3.422 -5.42,0 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>SINTRA</title>
      </path></g>
      <g><path
        d="m 128.58,34.319998 0,-2.59 -3.054,-2.778 -2.037,2.59 -1.76,0 -2.13,5.555 -2.128,0 0,-8.516 4.258,0 0,-3.053 -4.072,-8.794 9.626,0 2.592,-2.592 0,-5.274998 -2.592,-0.74 0,-2.866 -3.24,2.396 -3.85,0 -2.982,-1.79 -3.697,-5.367 -4.89,0 -3.2,3.294 -9.517,9.516998 L 92.17,9.574 l -5.14,0 -2.49,2.491999 2.013,3.499999 0,10.708 -1.377,1.696 -1.566,0 0,2.733 1.31,0 0,3.752 -2.74,0 0,2.978 2.753,2.872 1.953,-0.67 6.134,2.92 0,2.56 3.573,0 4.288,4.765 1.67,0 0,-2.263 2.38,0 1.787,3.394 0,1.3 0.347,-0.25 2.584,2.584 7.355,2.584 2.518,2.783 0.928,0 0,-7.685 3.596,0 1.574,-8.285 3.795,-6.017 0.648,-2.036 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>LOURES</title>
      </path></g>
      <g><path
        d="m 82.626,92.036998 8.667,0 5.417,-3.25 12.707,0 8.274,-5.713 3.153,-4.137 2.56,-9.16 0,-16.744 0.64,-0.708 -3.595,0 0,7.686 -0.927,0 -2.517,-2.782 -7.355,-2.584 -2.584,-2.584 -13.516,9.806 0,4.373 -3.843,0 0,10.865 -2.783,2.783 0,2.12 -2.62,6.483 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>LISBOA</title>
      </path></g>
      <circle
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:24;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
        id="path4204-3-3-0-6-2-3"
        cx="92.849525"
        cy="34.769787"
        r="5" />
      </circle>
      <g
        transform="matrix(0.00434049,0,0,0.00434049,88.404867,30.325128)"
        style="fill:#000000;fill-opacity:1;image-rendering:optimizeQuality;shape-rendering:geometricPrecision;text-rendering:geometricPrecision">
      <path
        d="m 832.849,1215.13 c -9.39331,6.8634 -29.1614,22.8307 -49.6406,48.7949 -23.0362,29.2063 -46.7008,70.8355 -56.8489,125.805 l -1.92874,10.4516 -12.2563,-2.2465 -10.6252,0.044 c -0.0768,0 -16.5768,0.026 -30.137,2.2418 l -0.83268,0.1393 c -7.25906,1.2461 -13.5437,3.1453 -15.7961,6.039 l 0,54.4276 0,0.7264 0,131.054 c 1.39606,3.4394 5.18622,11.1437 12.8032,16.4858 l 7.17756,-10.2343 c 0.16299,0.1146 0.32126,0.2327 0.47717,0.3531 4.82244,3.1489 12.3284,4.6347 23.8855,0.4784 l -0.0177,-0.048 c 0.97677,-0.3508 1.96772,-0.5729 2.95512,-0.6744 l 3.3189,-0.6178 -0.007,-0.039 c 0.79489,-0.1477 1.5874,-0.2162 2.36693,-0.2114 l 316.25704,0 316.338,0 c 1.1374,0 2.2393,0.1535 3.287,0.4381 l 3.2787,0.6095 -0.1346,0.7323 0.028,0.016 0.1453,-0.7819 c 1.0299,0.1914 2.0067,0.5043 2.9185,0.9213 8.7012,2.9504 15.0024,2.6799 19.5496,0.9201 6.0591,-2.3445 9.5728,-7.5792 11.3043,-10.9996 l 0,-176.366 c -1.2591,-0.2209 -2.8866,-0.5079 -4.7162,-0.8374 -12.4807,-2.2465 -29.4733,-2.2725 -29.5477,-2.2725 -0.3909,0 -0.7771,-0.019 -1.1574,-0.054 l -9.5162,-0.039 0.022,-5.8618 0,0 -0.025,5.9126 c -6.4524,-0.026 -11.7437,-4.9405 -12.3827,-11.2193 l -1.7504,-9.4854 c -10.148,-54.9697 -33.8126,-96.5989 -56.8489,-125.805 -20.478,-25.9642 -40.2461,-41.9315 -49.6406,-48.7949 l -191.152,-3.9425 -0.2563,0.01 0,0.035 c -0.1854,0 -0.3709,-0.013 -0.5539,-0.025 l -190.34004,3.926 z m -120.675,182.805 12.2929,2.2689 c -1.17756,6.385 -7.01693,10.735 -13.3559,10.187 l -9.51024,0.039 0,0.048 -0.052,0 0,0 c -0.0756,0 -17.0669,0.026 -29.5477,2.2724 -1.82953,0.3296 -3.45709,0.6166 -4.71733,0.8374 l 0,176.367 c 1.32638,2.6268 3.69331,6.3107 7.4315,8.9315 l -7.12914,10.2047 c 7.61575,5.3422 19.0583,8.3221 35.7567,2.3103 l 4.31811,-0.8032 316.338,0 316.338,0 4.3193,0.8032 c 33.3969,12.0225 45.7678,-11.9173 48.5587,-18.7961 l 0,-186.208 c -6.5055,-8.3575 -46.6453,-8.4201 -46.7646,-8.4201 l -10.6252,-0.044 -1.9287,-10.4516 c -21.1937,-114.8 -98.7013,-173.69 -114.637,-184.726 l -195.261,-4.0264 -195.26005,4.0264 c -15.9343,11.0362 -93.443,69.926 -114.637,184.726 l -1.92874,10.4516 z m -21.2492,-25.1103 c 28.6252,-132.111 126.656,-193.407 126.945,-193.591 l 6.62717,-2.0091 199.25203,-4.1078 0.5019,0 199.252,4.1078 6.6284,2.0091 c 0.2894,0.1843 98.3186,61.48 126.944,193.591 9.1134,0.6626 22.7079,2.289 34.8697,6.2894 12.163,4.0016 22.8933,10.3748 26.2784,20.5299 l 0.7027,4.0169 0,191.035 -0.6531,3.8669 c -0.053,0.1689 -17.8299,58.5036 -79.917,37.7469 l -314.357,0 -314.35501,0 c -62.0871,20.7567 -79.8638,-37.578 -79.917,-37.7469 l -0.65315,-3.8669 0,-35.4567 0,-2.8606 0,-152.718 0.70276,-4.017 c 3.38504,-10.1551 14.1165,-16.5295 26.2784,-20.5299 7.01339,-2.3066 14.5016,-3.822 21.3331,-4.8212 l 1.09488,-0.1571 c 4.59804,-0.6413 8.86654,-1.0512 12.4417,-1.311 z m -10.1303,-11.5689 c 30.7075,-125.288 121.599,-186.826 129.822,-192.175 l -0.013,-0.019 c 0.28464,-0.2031 0.57756,-0.3921 0.87283,-0.5693 l 0.0106,-0.01 c 1.22599,-0.7299 2.53583,-1.2283 3.87284,-1.5012 l 5.52402,-1.6748 0.59292,1.9548 10e-4,0 -0.60709,-2.0043 c 1.49055,-0.4524 3,-0.6106 4.46811,-0.5114 l 198.15407,-4.0855 0,-0.046 0.2575,0 0,0 0.5019,0 c 0.4536,0 0.9012,0.025 1.3429,0.072 l 198.154,4.0854 -0.2445,12.4512 0.2575,-12.4973 c 1.5744,0.032 3.0733,0.3555 4.4492,0.9154 l 5.5335,1.6772 0.014,-0.048 c 1.4858,0.45 2.8252,1.1528 3.9874,2.0457 10.2236,6.7299 99.1548,68.2878 129.461,191.939 8.6776,1.0276 18.9815,2.8311 28.5969,5.9929 l -3.8575,11.8654 3.9059,-11.8748 c 0.1595,0.052 0.3166,0.1087 0.4725,0.1666 15.2516,5.1 28.8378,13.741 33.7063,28.3028 l 0.052,-0.018 c 0.254,0.7619 0.4299,1.5319 0.5327,2.2996 l 0.6154,3.5174 0.01,0 c 0.1347,0.7701 0.1961,1.5366 0.1878,2.2913 l 0,190.898 c 0,1.0016 -0.1193,1.976 -0.3413,2.9103 l -0.5079,3.0071 -0.587,-0.098 -0.013,0.025 0.6212,0.1052 c -0.1086,0.6437 -0.2645,1.2673 -0.4641,1.8685 l -0.025,0.07 c -0.06,0.1771 -0.1229,0.3531 -0.1902,0.5255 l -0.04,0.1004 -0.074,0.1855 -0.048,0.1122 -0.01,0.013 c -3.3307,9.385 -26.5099,66.2162 -93.1997,45.2906 l -312.552,0 -312.551,0 c -71.8182,22.5331 -93.1761,-45.1063 -93.6249,-46.5508 l -0.0354,0.011 c -0.0697,-0.2244 -0.13228,-0.45 -0.18897,-0.6756 l -0.0142,-0.058 -0.059,-0.2492 -0.0154,-0.077 -0.0425,-0.2019 -0.0272,-0.1394 c -0.052,-0.2787 -0.0957,-0.5563 -0.12874,-0.835 l -0.006,-0.05 -0.0154,-0.1465 m -10e-4,-0.012 -0.51614,-3.0532 -0.026,0 c -0.12874,-0.7618 -0.18543,-1.5201 -0.1748,-2.2666 l 0,-190.851 c 0,-0.9212 0.10039,-1.8189 0.28937,-2.6823 l 0.60945,-3.483 0.66142,0.1157 0.002,0 -0.67205,-0.1181 c 0.19961,-1.1398 0.54803,-2.2158 1.02165,-3.2126 5.31496,-13.8461 18.7288,-22.115 33.6638,-27.0284 l 3.90591,11.8654 -3.90709,-11.8736 c 0.25394,-0.084 0.50906,-0.1571 0.76535,-0.2244 9.40867,-3.0178 19.4185,-4.7587 27.8811,-5.7603"
        style="fill:#000000;fill-opacity:1" />
      </path>
      <path
        d="m 891.308,1497.39 c -7.09843,0 -12.8539,5.7555 -12.8539,12.8551 0,7.0984 5.75552,12.8551 12.8539,12.8551 l 131.466,0 133.519,0 c 7.0996,0 12.8551,-5.7567 12.8551,-12.8551 0,-7.0996 -5.7555,-12.8551 -12.8551,-12.8551 l -133.519,0 -131.466,0 z"
        style="fill:#000000;fill-opacity:1" />
      </path>
      <path
        d="m 891.308,1509.89 c -0.12992,0 -0.21732,0.021 -0.25039,0.054 l -8.8382,-8.7897 8.84174,8.837 -0.0236,0.022 c -0.0508,0.061 -0.0827,0.1429 -0.0827,0.2303 0,0.098 0.0402,0.189 0.10275,0.2516 l 10e-4,0 0.0874,0.09 c 0.0425,0.01 0.0968,0.014 0.16181,0.014 l 131.46599,0 133.519,0 c 0.098,0 0.189,-0.04 0.2516,-0.1028 0.063,-0.063 0.1027,-0.1535 0.1027,-0.2516 0,-0.098 -0.04,-0.189 -0.1027,-0.2515 l 0,0 -0.086,-0.087 c -0.044,-0.01 -0.098,-0.016 -0.1642,-0.016 l -133.519,0 -131.46599,0 z m -17.902,-17.5488 c 4.61339,-4.6039 10.9453,-7.4528 17.902,-7.4528 l 131.466,0 133.519,0 c 6.4736,0 12.4063,2.4674 16.9169,6.5186 0.3496,0.2822 0.6874,0.5834 1.0122,0.9082 l 0,0 c 4.5886,4.5886 7.428,10.9287 7.428,17.928 0,6.9992 -2.8394,13.3394 -7.428,17.928 -4.5886,4.5886 -10.9287,7.428 -17.928,7.428 l -133.519,0 -131.46597,0 c -6.47363,0 -12.4051,-2.4674 -16.9158,-6.5186 -0.34961,-0.2822 -0.6874,-0.5834 -1.01221,-0.9082 l 10e-4,0 c -4.58859,-4.5886 -7.42796,-10.9287 -7.42796,-17.928 0,-6.9165 2.77323,-13.1894 7.26615,-17.7638 l 0.15827,-0.163 10e-4,0 0.002,0 0.0248,0.025 z"
        style="fill:#000000;fill-opacity:1" />
      </path>
      <path
        d="m 707.332,1360.52 0.065,0.016 0.22087,0.056 c 0.26338,0.07 0.52323,0.1477 0.77716,0.2315 19.565,4.5426 299.26397,66.952 633.13397,-0.4015 l -0.011,-0.05 c 6.7665,-1.3642 13.3606,3.0141 14.7248,9.7807 l 0.051,0.2669 4.9724,24.861 0,0 c 1.3536,6.7689 -3.0366,13.3559 -9.8055,14.7095 -0.3933,0.079 -0.7854,0.137 -1.1764,0.1772 -354.13293,71.1615 -649.96793,0.7748 -654.51093,-0.3095 l -10e-4,0 -0.0614,-0.015 0,0 -0.11811,-0.03 -0.19252,-0.048 -0.007,0 c -6.50434,-1.7126 -10.5106,-8.2973 -8.98938,-14.8961 0.0496,-0.215 0.1063,-0.4276 0.16535,-0.6378 l 5.68111,-24.391 -0.0165,0 c 1.56614,-6.7228 8.2878,-10.9051 15.0106,-9.3389 l 0.0839,0.02 z m -9.96379,42.4418 0.3,-1.2626 0.17008,-0.7465 -0.1878,0.789 -0.28228,1.2201 z"
        style="fill:#000000;fill-opacity:1" />
      </path>
      <path
        d="m 723.725,1603.1 138.659,0 12.8551,0 c 6.90355,0 12.5008,5.5973 12.5008,12.5008 l 0,12.8551 0,49.5886 c 0,7.6441 -1.54843,14.9929 -4.34882,21.7311 -2.90433,6.9921 -7.1315,13.2626 -12.3484,18.4795 -5.21575,5.2158 -11.4886,9.4429 -18.4795,12.3473 -6.73938,2.8004 -14.087,4.3488 -21.7311,4.3488 l -75.554,0 c -7.6441,0 -14.9929,-1.5484 -21.7311,-4.3488 -6.99095,-2.9043 -13.2638,-7.1303 -18.4807,-12.3473 -5.21693,-5.2169 -9.44292,-11.4874 -12.3473,-18.4795 -2.8004,-6.7394 -4.34882,-14.0847 -4.34882,-21.7311 l 0,-49.5886 0,-12.8551 c 0,-6.9035 5.59725,-12.5008 12.5008,-12.5008 l 12.8539,0 z m 113.303,50.7119 -87.9473,0 0,24.2327 c 0,0.8551 0.15945,1.6429 0.44646,2.3327 0.3,0.7193 0.77834,1.4079 1.3937,2.0232 0.61417,0.6142 1.30394,1.0937 2.02441,1.3937 0.68858,0.287 1.47638,0.4465 2.33268,0.4465 l 75.554,0 c 0.8563,0 1.6441,-0.1595 2.33268,-0.4465 0.72047,-0.3 1.41024,-0.7795 2.02441,-1.3937 0.61417,-0.6142 1.09252,-1.3027 1.39252,-2.0232 0.287,-0.6886 0.44645,-1.4764 0.44645,-2.3327 l 0,-24.2327 z"
        style="fill:#000000;fill-opacity:1" />
      <path
        d="m 1185.62,1603.1 138.658,0 12.8551,0 c 6.9035,0 12.5008,5.5973 12.5008,12.5008 l 0,12.8551 0,49.5886 c 0,7.6441 -1.5484,14.9929 -4.3488,21.7311 -2.9044,6.9921 -7.1315,13.2626 -12.3484,18.4795 -5.2158,5.2158 -11.4886,9.4429 -18.4795,12.3473 -6.7394,2.8004 -14.0847,4.3488 -21.7311,4.3488 l -75.5552,0 c -7.6441,0 -14.9917,-1.5484 -21.7311,-4.3488 -6.9343,-2.8795 -13.1906,-7.1079 -18.4311,-12.3473 l 8.7898,-8.8382 -8.8382,8.8406 -0.143,-0.1477 c -5.1508,-5.1886 -9.3271,-11.4071 -12.2043,-18.3343 -2.8004,-6.7382 -4.3488,-14.087 -4.3488,-21.7311 l 0,-49.5886 0,-12.8551 c 0,-6.9035 5.5973,-12.5008 12.5008,-12.5008 l 12.8551,0 z m 113.302,50.7119 -87.9461,0 0,24.2327 c 0,0.8563 0.1594,1.6441 0.4465,2.3339 0.3224,0.7736 0.7842,1.4622 1.3441,2.022 l -8.7898,8.8382 8.8358,-8.8417 0.037,0.038 c 0.6059,0.5976 1.2815,1.0653 1.989,1.3594 0.6886,0.287 1.4764,0.4465 2.3327,0.4465 l 75.5552,0 c 0.8563,0 1.6441,-0.1595 2.3327,-0.4465 0.7204,-0.3 1.4102,-0.7795 2.0244,-1.3937 l 0,0 c 0.1228,-0.1228 0.2504,-0.2433 0.3768,-0.3602 0.4193,-0.4972 0.7653,-1.0583 1.0169,-1.663 0.287,-0.6886 0.4465,-1.4764 0.4465,-2.3315 l 0,-24.2327 z"
        style="fill:#000000;fill-opacity:1" />
      </path>
      <path
        d="m 761.553,1445.86 c 8.63977,0 16.9465,1.7457 24.5764,4.9063 7.96064,3.2976 15.0662,8.0728 20.948,13.9547 5.88308,5.8831 10.6559,12.9874 13.9536,20.9469 3.16063,7.6323 4.9063,15.9366 4.9063,24.5776 0,8.641 -1.74567,16.9477 -4.9063,24.5776 -3.29646,7.9595 -8.07166,15.065 -13.9536,20.9469 -5.88308,5.8831 -12.9874,10.6559 -20.9469,13.9536 -7.63229,3.1606 -15.9366,4.9063 -24.5776,4.9063 -8.64095,0 -16.9453,-1.7457 -24.5776,-4.9063 -7.95945,-3.2976 -15.0638,-8.0705 -20.9469,-13.9536 -5.88308,-5.8831 -10.6559,-12.9874 -13.9536,-20.9469 -3.16063,-7.6323 -4.9063,-15.9366 -4.9063,-24.5776 0,-8.6409 1.74567,-16.9453 4.9063,-24.5776 3.29764,-7.9595 8.07048,-15.0638 13.9536,-20.9469 5.88189,-5.8819 12.9874,-10.6571 20.948,-13.9547 7.62993,-3.1606 15.9366,-4.9063 24.5764,-4.9063 z m 9.67087,54.7146 c -1.31102,-1.311 -2.80512,-2.3386 -4.39725,-2.9976 -1.56378,-0.6473 -3.34252,-1.0052 -5.27363,-1.0052 -1.9311,0 -3.70985,0.3579 -5.27363,1.0052 -1.59095,0.6578 -3.08622,1.6866 -4.39725,2.9976 -1.30984,1.3098 -2.3374,2.8039 -2.99646,4.3961 -0.64724,1.5637 -1.00512,3.3425 -1.00512,5.2748 0,1.9311 0.35906,3.711 1.00512,5.2736 0.65906,1.5921 1.68543,3.0862 2.99646,4.3973 1.31102,1.311 2.80512,2.3385 4.39725,2.9976 1.56378,0.6472 3.34252,1.0051 5.27363,1.0051 1.9311,0 3.70985,-0.3579 5.27363,-1.0051 1.59213,-0.6591 3.08622,-1.6866 4.39725,-2.9976 1.31102,-1.3111 2.33977,-2.8063 2.99764,-4.3973 0.64725,-1.5638 1.00512,-3.3425 1.00512,-5.2736 0,-1.9323 -0.35787,-3.7111 -1.00512,-5.2748 -0.65787,-1.591 -1.68662,-3.0851 -2.99764,-4.3961 z"
        style="fill:#000000;fill-opacity:1" />
      </path>
      <path
        d="m 1281.45,1445.86 c 8.6398,0 16.9465,1.7457 24.5764,4.9063 7.9583,3.2965 15.065,8.0705 20.948,13.9536 l 0,0 c 0.2504,0.2504 0.4866,0.5091 0.711,0.7736 5.5772,5.7579 10.0996,12.5917 13.2413,20.1768 3.1606,7.63 4.9063,15.9366 4.9063,24.5764 0,8.6398 -1.7457,16.9465 -4.9063,24.5764 -3.274,7.9052 -8.048,14.9941 -13.9536,20.9008 l -8.8382,-8.7897 8.8406,8.8382 -0.1111,0.1075 c -5.8618,5.8334 -12.9272,10.5697 -20.8394,13.8449 -7.6299,3.1606 -15.9366,4.9063 -24.5764,4.9063 -8.6409,0 -16.9477,-1.7457 -24.5776,-4.9063 -7.9606,-3.2977 -15.065,-8.0705 -20.948,-13.9536 -5.883,-5.8831 -10.6571,-12.9898 -13.9536,-20.948 -3.1606,-7.63 -4.9063,-15.9354 -4.9063,-24.5764 0,-8.6398 1.7457,-16.9465 4.9063,-24.5764 3.2965,-7.9583 8.0705,-15.065 13.9536,-20.948 5.8819,-5.8819 12.9886,-10.6571 20.948,-13.9547 7.63,-3.1607 15.9366,-4.9063 24.5776,-4.9063 z m 9.6697,54.7146 c -2.4721,-2.4721 -5.8925,-4.0028 -9.6697,-4.0028 -1.9323,0 -3.711,0.3579 -5.2748,1.0052 -1.591,0.6578 -3.085,1.6866 -4.3961,2.9976 l 0,0 c -0.1654,0.1653 -0.3354,0.326 -0.5079,0.4795 -1.0464,1.1504 -1.8956,2.4744 -2.4909,3.9142 -0.6461,1.5638 -1.0051,3.3437 -1.0051,5.276 0,1.9311 0.3578,3.711 1.0051,5.2748 0.6579,1.5898 1.6854,3.0838 2.9976,4.3961 1.311,1.311 2.8051,2.3397 4.3961,2.9976 1.5638,0.6472 3.3425,1.0051 5.2748,1.0051 1.9311,0 3.7098,-0.3579 5.2736,-1.0051 1.5898,-0.6579 3.0851,-1.6866 4.3961,-2.9976 1.311,-1.3111 2.3386,-2.8052 2.9976,-4.3973 0.6473,-1.5638 1.0052,-3.3425 1.0052,-5.2736 0,-1.9323 -0.3579,-3.7111 -1.0052,-5.2748 -0.6578,-1.591 -1.6866,-3.0851 -2.9976,-4.3961 z"
        style="fill:#000000;fill-opacity:1" />
      </path>
      <path
        d="m 268.744,718.909 743.727,-408.635 c 7.5425,-4.14095 16.3382,-3.79607 23.3209,0.14173 l 743.742,408.643 c 10.539,5.78622 15,18.3425 10.9488,29.289 l -32.8796,93.1926 c -4.4008,12.4772 -18.0851,19.0252 -30.5622,14.6244 -1.689,-0.59527 -3.2669,-1.36299 -4.7256,-2.27244 l -698.313,-373.142 -699.75799,373.915 c -11.6492,6.2126 -26.1307,1.80591 -32.3433,-9.84331 -0.5752,-1.07835 -1.05827,-2.18032 -1.45394,-3.29764 l -0.0461,0.0165 -32.9929,-93.5127 c -3.99567,-11.3291 1.03583,-23.6528 11.3362,-29.1189 z M 1024.002,358.61 309.36,751.264 l 16.963,48.0804 686.232,-366.688 c 6.8268,-3.71457 15.3284,-4.03465 22.6973,-0.10512 l 686.429,366.793 16.963,-48.0804 -714.642,-392.654 z"
        style="fill:#000000;fill-opacity:1" />
      </path>
      <path
        d="m 508.694,755.633 0,961.053 0,24 -24,0 -112.456,0 -24,0 0,-24 0,-910.203 0,-15.4417 14.1567,-6.40158 112.456,-50.85 33.8433,-15.3024 0,37.1457 z m -48,937.053 0,-899.906 -64.4563,29.1449 0,870.761 64.4563,0 z"
        style="fill:#000000;fill-opacity:1" />
      </path>
      <path
        d="m 1699.77,806.483 0,910.203 0,24 -24,0 -112.456,0 -24,0 0,-24 0,-961.053 0,-37.1457 33.8433,15.3024 112.456,50.85 14.1567,6.40158 0,15.4417 z m -48,886.203 0,-870.761 -64.4563,-29.1449 0,899.906 64.4563,0 z"
        style="fill:#000000;fill-opacity:1" />
      </path>
      <path
        d="m 664.369,792.128 c -13.2543,0 -24,-10.7457 -24,-24 0,-13.2543 10.7457,-24 24,-24 l 719.265,0 c 13.2543,0 24,10.7457 24,24 0,13.2543 -10.7457,24 -24,24 l -719.265,0 z"
        style="fill:#000000;fill-opacity:1" />
      </path>
      <path
        d="m 664.369,917.503 c -13.2543,0 -24,-10.7457 -24,-24 0,-13.2543 10.7457,-24 24,-24 l 719.265,0 c 13.2543,0 24,10.7457 24,24 0,13.2543 -10.7457,24 -24,24 l -719.265,0 z"
        style="fill:#000000;fill-opacity:1" />
      </path>
      <path
        d="m 664.369,1042.88 c -13.2543,0 -24,-10.7457 -24,-24 0,-13.2543 10.7457,-24 24,-24 l 719.265,0 c 13.2543,0 24,10.7457 24,24 0,13.2543 -10.7457,24 -24,24 l -719.265,0 z"
        style="fill:#000000;fill-opacity:1" />
      </path></g>
      <g
        transform="matrix(0.04752658,0,0,0.04752658,80.492388,27.153801)"
        style="fill:#66c4cd;fill-opacity:1">
      <path
        d="M 256,0 C 167.641,0 96,71.625 96,160 c 0,24.75 5.625,48.219 15.672,69.125 C 112.234,230.313 256,512 256,512 L 398.594,232.625 C 409.719,210.844 416,186.156 416,160 416,71.625 344.375,0 256,0 Z m 0,256 c -53.016,0 -96,-43 -96,-96 0,-53 42.984,-96 96,-96 53,0 96,43 96,96 0,53 -43,96 -96,96 z"
        style="fill:#66c4cd;fill-opacity:1" />
      </path></g>
    </svg>
  </div>
  <div class="how-works">
    <h5 class="text-center"><%= t('home.location_tagus') %></h5>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 145 110">
      <g><path
        d="m 91.462,84.652444 5.036,-7.08 -1.77,-2.993 0.948,0 -2.405,-1.273 -0.19,-1.996 -1.616,-1.52 1.616,-1.426 0.475,-5.323 1.33,-1.52 -1.995,-1.237 -1.046,1.806 -3.897,0 -5.418,3.232 -3.137,-2.662 -1.995,0 -1.332,2.567 -1.14,-1.9 -5.324,-0.19 -1.045,3.517 -9.127,0 -0.57,2.47 -4.087,0 -3.992,-4.086 -2.09,0 -4.85,-5.702 -1.793,0 0.37,5.513 -1.807,2.187 0,5.038 -1.996,4.467 1.71,4.088 1.332,-0.286 3.467,6.75 2.33,0 3.612,-3.232 0.38,-2.757 7.89,0 2.185,-5.798 0.95,-0.95 1.902,1.9 3.707,0 5.228,4.943 7.922,4.375 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>SETÚBAL</title>
      </path></g>
      <g><path
        d="m 45.125,87.088444 -3.468,-6.75 -1.332,0.287 -1.71,-4.088 1.995,-4.467 0,-5.038 1.806,-2.186 -0.348,-5.204 -2.22,-0.784 -1.71,5.99 0.76,1.52 -2.567,1.425 -1.378,-1.378 0.143,-3.28 -3.422,1.806 -1.9,0 -3.423,-4.848 -6.18,0 -3.385,2.025 -1.46,2.347 1.234,10.076 -2.376,9.6 -3.232,5.704 -2.28,6.37 4.89,0.664 4.9,-4.182 6.368,0 3.517,-1.14 1.094,-1.094 6.32,1.283 8.46,-3.04 0.965,-1.617 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>SESIMBRA</title>
      </path></g>
      <g><path
        d="m 13.908,60.378444 1.526,3.916 1.354,-2.177 3.386,-2.025 0.166,0 -0.577,-3.042 -2.535,-2.85 0.855,-1.522 -0.76,-0.666 0.76,-5.513 2.727,-3.327 3.262,0 1.615,-1.806 -2.947,-2.09 0.76,-3.328 -1.426,-1.426 -6.083,3.042 -9.886,0 -3.977,2.091 3.408,3.803 4.277,6.844 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>ALMADA</title>
      </path></g>
      <g><path
        d="m 116.418,44.931444 -1.558,-3.942 -7.518,3.758 -1.467,-2.567 -3.3,-1.833 2.292,-2.75 -9.17,-2.568 -4.858,4.4 -3.76,0 0.46,-6.14 3.392,0.824 2.842,-2.384 2.933,1.008 3.025,-4.858 -10.268,-2.567 0,-1.767 -4.31,1.492 -2.84,-1.65 -0.192,-0.205 -5.386,14.04 -12.65,1.224 0,2.548 -1.917,1.221 -3.872,-1.324 0,1.325 -1.426,1.02 1.324,2.344 -1.222,1.834 -0.714,3.362 -2.343,-3.974 -2.447,0 0.51,5.808 -5.504,1.733 0,1.528 -2.63,3.463 4.847,5.703 2.09,0 3.993,4.088 4.087,0 0.57,-2.47 9.126,0 1.044,-3.518 5.324,0.19 1.14,1.9 1.33,-2.566 1.997,0 3.137,2.662 5.418,-3.232 3.897,0 1.046,-1.806 1.996,1.236 -1.332,1.52 -0.475,5.324 -1.616,1.425 1.616,1.52 0.19,1.998 2.405,1.274 2.728,0 6.26,-7.35 6.937,-0.878 -3.48,-12.315 4.355,-3.158 0.23,-2.242 2.345,-1.324 1.41,-2.38 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>PALMELA</title>
      </path></g>
      <g><path
        d="m 134.662,17.795444 3.21,1.1 0,1.833 -3.485,3.392 0,1.742 1.558,1.283 0,2.384 -3.21,1.008 -1.833,3.667 -4.95,3.3 -3.3,1.008 0,1.56 -4.218,4.858 -2.017,0 -1.558,-3.942 -7.518,3.758 -1.467,-2.567 -3.3,-1.833 2.292,-2.75 -9.17,-2.568 -4.858,4.4 -3.76,0 0.46,-6.14 3.392,0.824 2.842,-2.384 2.933,1.008 3.025,-4.858 -10.268,-2.567 0,-1.766 2.842,-0.984 1.282,-7.173 6.968,-12.4460036 0,-2.84200008 3.667,4.49199988 2.533,0.4879998 2.667,2.584 2.833,0 1.417,-4.4999995 4.083,-2.0000002 2.334,0 -1.667,2.9150001 0,8.2500016 -1.833,1 4.75,3.917002 1.5,-1.166 5.417,2.417 6.404,-0.704 z m -81.76,17.49 0,6.42 3.15,0.305 0.816,1.223 1.426,-1.02 0,-1.324 3.872,1.325 1.923,-1.222 0,-2.547 -1.616,-8.253 -7.948,-4.38 -7.337,2.037 -3.057,-1.835 -3.363,2.14 -0.408,6.874 1.63,-0.104 7.643,-2.593 3.27,2.955 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>MONTIJO</title>
      </path></g>
      <g><path
        d="m 54.524,25.811444 7.948,4.38 1.617,8.255 12.649,-1.221 5.385,-14.04 -5.034,-5.39 -7.06,4.493 -4.033,-0.64 -1.467,3.025 -2.842,-3.21 0.184,-2.658 -2.11,-7.700002 -5.59,-7.2550015 -0.065,0.4869998 -4.632,6.9180017 1.677,0.276 3.85,-1.615002 1.925,3.042002 -5.712,-0.497 -4.285,4.780002 1.428,1.678 8.135,-0.42 -3.664,2.034 -4.16,0 -2.237,-1.428 -3.353,3.29 1.053,3.62 3.056,1.834 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>ALCOCHETE</title>
      </path></g>
      <g><path
        d="m 20.81,43.173444 -2.727,3.327 -0.76,5.513 0.76,0.666 -0.855,1.52 2.535,2.852 0.577,3.042 6.013,0 3.422,4.848 1.9,0 3.423,-1.806 -0.143,3.28 1.378,1.377 2.567,-1.425 -0.76,-1.52 1.71,-5.99 -0.296,-1.754 0,-3.41 -1.786,-3.79 0,-1.568 -3.085,-5.36 -3.14,-0.54 -3.193,0.487 -2.663,-1.555 -1.616,1.806 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>SEIXAL</title>
      </path></g>
      <g><path
        d="m 40.528,45.305444 0,-7.903 2.274,-1.95 0.094,-0.834 -0.905,0.307 -1.63,0.104 -0.51,0.586 -2.083,0.217 -1.678,2.814 -3.572,1.733 -1.292,2.106 0.318,-0.05 3.14,0.54 3.084,5.36 0,1.57 1.786,3.788 0,3.41 0.297,1.754 2.22,0.784 -0.022,-0.308 1.795,0 2.63,-3.463 0,-1.528 0.28,-0.088 0,-5.65 -2.166,0 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>BARREIRO</title>
      </path></g>
      <g><path
        d="m 56.97,47.413444 -0.714,3.362 -2.343,-3.974 -2.445,0 0.51,5.808 -5.504,1.733 0.28,-0.088 0,-5.65 -2.166,0 -4.06,-3.3 0,-7.903 2.274,-1.95 0.094,-0.834 6.737,-2.286 3.27,2.955 0,6.42 3.15,0.305 0.815,1.223 1.324,2.344 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>MOITA</title>
      </path></g>
    </svg>
  </div>
</div>