<div class="wrapper-how-works container" id="how-works">
  <div class="how-works">
    <%= image_tag("home_how_works/how_works1.png") %>
    <h4 class="text-center"><%= t('home.how_works_h_1') %></h4>
    <p class="text-center" id="how-works-p"><%= t('home.how_works_sh_1') %></p>
  </div>
  <div class="how-works">
    <%= image_tag("home_how_works/how_works2.png") %>
    <h4 class="text-center"><%= t('home.how_works_h_2') %></h4>
    <p class="text-center"><%= t('home.how_works_sh_2') %></p>
  </div>
  <div class="how-works">
    <%= image_tag("home_how_works/how_works3.png") %>
    <h4 class="text-center"><%= t('home.how_works_h_3') %></h4>
    <p class="text-center"><%= t('home.how_works_sh_3') %></p>
  </div>
  <div class="how-works">
    <%= image_tag("home_how_works/how_works4.png") %>
    <h4 class="text-center"><%= t('home.how_works_h_4') %></h4>
    <p class="text-center"><%= t('home.how_works_sh_4') %></p>
  </div>
</div>

<div class="text-center">
  <p style="padding-top: 10px"><%= t('home.location_description') %></p>
</div>

<div class="wrapper-how-works container" id="how-works">
  <div class="how-works">
    <h5 class="text-center"><%= t('home.location_lisbon') %></h5>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 145 110">
      <g><path
        d="m 86.242,72.716998 -10.75,0 0,-4.33 -10.001,0 -2.642,2.09 0.552,0 -4.03,15.378 -2.393,0 0,7.844 1.12,0.504 11.425,-7.29 12.016,0 2.758,1.577 2.622,-6.482 0,-2.12 2.783,-2.783 0,-0.928 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>OEIRAS</title>
      </path></g>
      <g><path
        d="m 80.122,70.177998 -4.628,0 0,2.54 10.75,0 3.46,3.46 0,-9.94 3.843,0 0,-3.892 -6.408,-5.306 0,-6.12 -5.636,0 0,6.456 -3.658,3.658 2.277,2.277 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>AMADORA</title>
      </path></g>
      <g><path
        d="m 87.062,50.919998 0.076,0 0,6.12 6.408,5.306 0,-0.48 13.17,-9.555 0,-1.3 -1.787,-3.393 -2.38,0 0,2.263 -1.67,0 -4.287,-4.765 -3.574,0 0,-2.56 -6.134,-2.92 -2.263,0.776 0,2.8 -2.978,0 0,4.288 5.42,0 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>ODIVELAS</title>
      </path></g>
      <g><path
        d="m 59.728,70.009998 -2.74,-2.74 -6.67,3.573 -3.99,0 -3.932,-6.134 -3.098,0 -1.34,1.34 -3.602,-2.592 -1.608,0 0,-1.905 -15.008,0 -2.8,2.858 2.865,3.08 0,6.5 -4.062,6.092 0,1.896 6.838,5.01 7.245,0 1.692,1.693 3.047,0 1.49,-1.42 -1.83,-1.83 5.553,-1.761 19.202,10.03 0,-7.845 2.39,0 4.07,-15.846 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>CASCAIS</title>
      </path></g>
      <g><path
        d="m 81.644,43.209998 2.978,0 0,-2.8 0.31,-0.105 -2.752,-2.872 0,-2.978 2.74,0 0,-3.752 -1.31,0 0,-2.733 -1.406,0 0,-2.12 -3.605,0 -4.136,-4.773 0,-3.605 -3.71,0 -5.41,4.878 -6.15,0 -6.89,-3.075 0,-3.605 -7.74,-2.97 0,-4.982998 -4.136,-3.817 -8.138,0 -7.4,21.621998 0,1.548 -14.95,29.66 5.003,7.68 2.8,-2.857 15.007,0 0,1.905 1.608,0 3.603,2.59 1.34,-1.34 3.098,0 3.93,6.135 3.99,0 6.67,-3.573 2.74,2.74 4.05,0 0.047,0.043 1.667,-1.666 10.003,0 0,1.79 4.628,0 0,-6.866 -2.277,-2.276 3.658,-3.658 0,-6.457 5.56,0 0,-3.422 -5.42,0 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>SINTRA</title>
      </path></g>
      <g><path
        d="m 128.58,34.319998 0,-2.59 -3.054,-2.778 -2.037,2.59 -1.76,0 -2.13,5.555 -2.128,0 0,-8.516 4.258,0 0,-3.053 -4.072,-8.794 9.626,0 2.592,-2.592 0,-5.274998 -2.592,-0.74 0,-2.866 -3.24,2.396 -3.85,0 -2.982,-1.79 -3.697,-5.367 -4.89,0 -3.2,3.294 -9.517,9.516998 L 92.17,9.574 l -5.14,0 -2.49,2.491999 2.013,3.499999 0,10.708 -1.377,1.696 -1.566,0 0,2.733 1.31,0 0,3.752 -2.74,0 0,2.978 2.753,2.872 1.953,-0.67 6.134,2.92 0,2.56 3.573,0 4.288,4.765 1.67,0 0,-2.263 2.38,0 1.787,3.394 0,1.3 0.347,-0.25 2.584,2.584 7.355,2.584 2.518,2.783 0.928,0 0,-7.685 3.596,0 1.574,-8.285 3.795,-6.017 0.648,-2.036 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>LOURES</title>
      </path></g>
      <g><path
        d="m 82.626,92.036998 8.667,0 5.417,-3.25 12.707,0 8.274,-5.713 3.153,-4.137 2.56,-9.16 0,-16.744 0.64,-0.708 -3.595,0 0,7.686 -0.927,0 -2.517,-2.782 -7.355,-2.584 -2.584,-2.584 -13.516,9.806 0,4.373 -3.843,0 0,10.865 -2.783,2.783 0,2.12 -2.62,6.483 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>LISBOA</title>
      </path></g>
    </svg>
  </div>
  <div class="how-works">
    <h5 class="text-center"><%= t('home.location_tagus') %></h5>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 145 110">
      <g><path
        d="m 91.462,84.652444 5.036,-7.08 -1.77,-2.993 0.948,0 -2.405,-1.273 -0.19,-1.996 -1.616,-1.52 1.616,-1.426 0.475,-5.323 1.33,-1.52 -1.995,-1.237 -1.046,1.806 -3.897,0 -5.418,3.232 -3.137,-2.662 -1.995,0 -1.332,2.567 -1.14,-1.9 -5.324,-0.19 -1.045,3.517 -9.127,0 -0.57,2.47 -4.087,0 -3.992,-4.086 -2.09,0 -4.85,-5.702 -1.793,0 0.37,5.513 -1.807,2.187 0,5.038 -1.996,4.467 1.71,4.088 1.332,-0.286 3.467,6.75 2.33,0 3.612,-3.232 0.38,-2.757 7.89,0 2.185,-5.798 0.95,-0.95 1.902,1.9 3.707,0 5.228,4.943 7.922,4.375 z"
         style="stroke:#66c4cd;stroke-opacity:1"/>
         <title>SETÚBAL</title>
      </path></g>
      <g><path
        d="m 45.125,87.088444 -3.468,-6.75 -1.332,0.287 -1.71,-4.088 1.995,-4.467 0,-5.038 1.806,-2.186 -0.348,-5.204 -2.22,-0.784 -1.71,5.99 0.76,1.52 -2.567,1.425 -1.378,-1.378 0.143,-3.28 -3.422,1.806 -1.9,0 -3.423,-4.848 -6.18,0 -3.385,2.025 -1.46,2.347 1.234,10.076 -2.376,9.6 -3.232,5.704 -2.28,6.37 4.89,0.664 4.9,-4.182 6.368,0 3.517,-1.14 1.094,-1.094 6.32,1.283 8.46,-3.04 0.965,-1.617 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>SESIMBRA</title>
      </path></g>
      <g><path
        d="m 13.908,60.378444 1.526,3.916 1.354,-2.177 3.386,-2.025 0.166,0 -0.577,-3.042 -2.535,-2.85 0.855,-1.522 -0.76,-0.666 0.76,-5.513 2.727,-3.327 3.262,0 1.615,-1.806 -2.947,-2.09 0.76,-3.328 -1.426,-1.426 -6.083,3.042 -9.886,0 -3.977,2.091 3.408,3.803 4.277,6.844 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>ALMADA</title>
      </path></g>
      <g><path
        d="m 116.418,44.931444 -1.558,-3.942 -7.518,3.758 -1.467,-2.567 -3.3,-1.833 2.292,-2.75 -9.17,-2.568 -4.858,4.4 -3.76,0 0.46,-6.14 3.392,0.824 2.842,-2.384 2.933,1.008 3.025,-4.858 -10.268,-2.567 0,-1.767 -4.31,1.492 -2.84,-1.65 -0.192,-0.205 -5.386,14.04 -12.65,1.224 0,2.548 -1.917,1.221 -3.872,-1.324 0,1.325 -1.426,1.02 1.324,2.344 -1.222,1.834 -0.714,3.362 -2.343,-3.974 -2.447,0 0.51,5.808 -5.504,1.733 0,1.528 -2.63,3.463 4.847,5.703 2.09,0 3.993,4.088 4.087,0 0.57,-2.47 9.126,0 1.044,-3.518 5.324,0.19 1.14,1.9 1.33,-2.566 1.997,0 3.137,2.662 5.418,-3.232 3.897,0 1.046,-1.806 1.996,1.236 -1.332,1.52 -0.475,5.324 -1.616,1.425 1.616,1.52 0.19,1.998 2.405,1.274 2.728,0 6.26,-7.35 6.937,-0.878 -3.48,-12.315 4.355,-3.158 0.23,-2.242 2.345,-1.324 1.41,-2.38 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>PALMELA</title>
      </path></g>
      <g><path
        d="m 134.662,17.795444 3.21,1.1 0,1.833 -3.485,3.392 0,1.742 1.558,1.283 0,2.384 -3.21,1.008 -1.833,3.667 -4.95,3.3 -3.3,1.008 0,1.56 -4.218,4.858 -2.017,0 -1.558,-3.942 -7.518,3.758 -1.467,-2.567 -3.3,-1.833 2.292,-2.75 -9.17,-2.568 -4.858,4.4 -3.76,0 0.46,-6.14 3.392,0.824 2.842,-2.384 2.933,1.008 3.025,-4.858 -10.268,-2.567 0,-1.766 2.842,-0.984 1.282,-7.173 6.968,-12.4460036 0,-2.84200008 3.667,4.49199988 2.533,0.4879998 2.667,2.584 2.833,0 1.417,-4.4999995 4.083,-2.0000002 2.334,0 -1.667,2.9150001 0,8.2500016 -1.833,1 4.75,3.917002 1.5,-1.166 5.417,2.417 6.404,-0.704 z m -81.76,17.49 0,6.42 3.15,0.305 0.816,1.223 1.426,-1.02 0,-1.324 3.872,1.325 1.923,-1.222 0,-2.547 -1.616,-8.253 -7.948,-4.38 -7.337,2.037 -3.057,-1.835 -3.363,2.14 -0.408,6.874 1.63,-0.104 7.643,-2.593 3.27,2.955 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>MONTIJO</title>
      </path></g>
      <g><path
        d="m 54.524,25.811444 7.948,4.38 1.617,8.255 12.649,-1.221 5.385,-14.04 -5.034,-5.39 -7.06,4.493 -4.033,-0.64 -1.467,3.025 -2.842,-3.21 0.184,-2.658 -2.11,-7.700002 -5.59,-7.2550015 -0.065,0.4869998 -4.632,6.9180017 1.677,0.276 3.85,-1.615002 1.925,3.042002 -5.712,-0.497 -4.285,4.780002 1.428,1.678 8.135,-0.42 -3.664,2.034 -4.16,0 -2.237,-1.428 -3.353,3.29 1.053,3.62 3.056,1.834 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>ALCOCHETE</title>
      </path></g>
      <g><path
        d="m 20.81,43.173444 -2.727,3.327 -0.76,5.513 0.76,0.666 -0.855,1.52 2.535,2.852 0.577,3.042 6.013,0 3.422,4.848 1.9,0 3.423,-1.806 -0.143,3.28 1.378,1.377 2.567,-1.425 -0.76,-1.52 1.71,-5.99 -0.296,-1.754 0,-3.41 -1.786,-3.79 0,-1.568 -3.085,-5.36 -3.14,-0.54 -3.193,0.487 -2.663,-1.555 -1.616,1.806 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>SEIXAL</title>
      </path></g>
      <g><path
        d="m 40.528,45.305444 0,-7.903 2.274,-1.95 0.094,-0.834 -0.905,0.307 -1.63,0.104 -0.51,0.586 -2.083,0.217 -1.678,2.814 -3.572,1.733 -1.292,2.106 0.318,-0.05 3.14,0.54 3.084,5.36 0,1.57 1.786,3.788 0,3.41 0.297,1.754 2.22,0.784 -0.022,-0.308 1.795,0 2.63,-3.463 0,-1.528 0.28,-0.088 0,-5.65 -2.166,0 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>BARREIRO</title>
      </path></g>
      <g><path
        d="m 56.97,47.413444 -0.714,3.362 -2.343,-3.974 -2.445,0 0.51,5.808 -5.504,1.733 0.28,-0.088 0,-5.65 -2.166,0 -4.06,-3.3 0,-7.903 2.274,-1.95 0.094,-0.834 6.737,-2.286 3.27,2.955 0,6.42 3.15,0.305 0.815,1.223 1.324,2.344 z"
        style="stroke:#66c4cd;stroke-opacity:1"/>
        <title>MOITA</title>
      </path></g>
    </svg>
  </div>
</div>