<div class='wrapper-pricing container'>
  <div class='package'>
    <div class="price-image" style="padding-bottom: 5px"><%= image_tag("home_pricing/assessment_local.png") %></div>
    <p style="padding-bottom: -0px"><strong><%= t('home.assessment_1_location') %></strong></p>
    <!-- <div class='price'>A mais completa</div> -->
    <div class='name'><%= t('home.assessment_1_price') %></div>
    <div class='trial'><%= t('home.assessment_1_tag') %></div>
    <hr>
    <ul>
      <li class="pricing-li">
        <%= t('home.assessment_p1_html') %>
      </li>
      <li class="pricing-li">
        <%= t('home.assessment_p2_html') %>
      </li>
      <li class="pricing-li">
        <%= t('home.assessment_p3_html') %>
      </li>
      <li class="pricing-li">
        <%= t('home.assessment_p4_html') %>
      </li>
      <li class="pricing-li">
        <%= t('home.assessment_p5_html') %>
      </li>
      <li class="pricing-li">
        <%= t('home.assessment_p6_html') %>
      </li>
      <li class="pricing-li">
        <%= t('home.assessment_p7_html') %>
      </li>
    </ul>
  </div>
</div>