<div class='wrapper-pricing container'>
  <div class='package'>
    <div class="price-image" style="padding-bottom: 5px"><%= image_tag("home_pricing/assessment_local.png", alt:"#{t('pricing_alt_1')}") %></div>
    <p style="padding-bottom: -0px"><strong><%= t('home.assessment_1_location') %></strong></p>
    <!-- <div class='price'>A mais completa</div> -->
    <div class='name'><%= t('home.assessment_1_price') %></div>
    <div class='trial'><%= t('home.assessment_1_tag') %></div>
    <div class="scrollable-pricing">
      <hr>
      <ul>
        <li class="pricing-li">
          <%= t('home.assessment_p1_html') %>
        </li>
        <li class="pricing-li">
          <%= t('home.assessment_p2_html') %>
        </li>
        <li class="pricing-li">
          <%= t('home.assessment_p3_html') %>
        </li>
        <li class="pricing-li">
          <%= t('home.assessment_p4_html') %>
        </li>
        <li class="pricing-li">
          <%= t('home.assessment_p5_html') %>
        </li>
        <li class="pricing-li">
          <%= t('home.assessment_p6_html') %>
        </li>
        <li class="pricing-li">
          <%= t('home.assessment_p7_html') %>
        </li>
      </ul>
    </div>
  </div>
  <div class='package'>
    <div class="price-image" style="padding-bottom: 5px"><%= image_tag("home_pricing/assessment_garage.png", alt:"#{t('pricing_alt_2')}") %></div>
    <p style="padding-bottom: 0px"><strong><%= t('home.assessment_2_location') %></strong></p>
    <div class='name'><%= t('home.assessment_2_price') %></div>
    <!-- <div class='price'>€249</div> -->
    <div class='trial'><%= t('home.assessment_2_tag') %></div>
    <div class="scrollable-pricing">
      <hr>
      <ul>
        <li class="pricing-li">
          <%= t('home.assessment_p1_html') %>
        </li>
        <li class="pricing-li">
          <%= t('home.assessment_p2_html') %>
        </li>
        <li class="pricing-li">
          <%= t('home.assessment_p3_html') %>
        </li>
        <li class="pricing-li">
          <%= t('home.assessment_p4_html') %>
        </li>
        <li class="pricing-li">
          <%= t('home.assessment_p8_html') %>
        </li>
        <li class="pricing-li">
          <%= t('home.assessment_p9_html') %>
        </li>
        <li class="pricing-li">
          <%= t('home.assessment_p10_html') %>
        </li>
        <li class="pricing-li">
          <%= t('home.assessment_p6_html') %>
        </li>
        <li class="pricing-li">
          <%= t('home.assessment_p12_html') %>
        </li>
      </ul>
    </div>
  </div>
</div>

<h4 class="text-center" style="font-weight: 700; margin-top:20px; margin-bottom:5px">Todas as nossas avaliações incluem:</h4>
<div class="wrapper-how-works container" id="how-works">
  <div class="how-works">
    <%= image_tag("home_how_works/how_works1.png", alt: "#{t('pricing_alt_3')}", style: "width: 50px") %>
    <p class="text-center"><%= t('home.pricing_include_1') %></p>
  </div>
  <div class="how-works">
    <%= image_tag("home_how_works/how_works2.png", alt: "#{t('pricing_alt_4')}", style: "width: 50px") %>
    <p class="text-center"><%= t('home.pricing_include_2') %></p>
  </div>
  <div class="how-works">
    <%= image_tag("home_how_works/how_works3.png", alt: "#{t('pricing_alt_5')}", style: "width: 50px") %>
    <p class="text-center"><%= t('home.pricing_include_3') %></p>
  </div>
</div>





