<div class="wrapper-review-clients container" id="review-clients">
  <div class="review-clients">
    <%= image_tag("home_reviews/marta_filipa.png", class: "client-picture") %>
    <h4 class="text-center"><%= t('home.client_name_1') %></h4>
    <h5 class="text-center"><%= t('home.client_city_1') %></h5>
    <p class="text-center"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
    <p class="text-center" id="how-works-p"><%= t('home.client_review_1') %></p>
  </div>
  <div class="review-clients">
    <%= image_tag("home_reviews/joao_andrade.jpg", class: "client-picture") %>
    <h4 class="text-center"><%= t('home.client_name_2') %></h4>
    <h5 class="text-center"><%= t('home.client_city_2') %></h5>
    <p class="text-center"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
    <p class="text-center" id="how-works-p"><%= t('home.client_review_2') %></p>
  </div>
  <div class="review-clients">
    <%= image_tag("home_reviews/ricardo_braga.jpg", class: "client-picture") %>
    <h4 class="text-center"><%= t('home.client_name_3') %></h4>
    <h5 class="text-center"><%= t('home.client_city_3') %></h5>
    <p class="text-center"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
    <p class="text-center" id="how-works-p"><%= t('home.client_review_3') %></p>
  </div>
</div>