<div class="wrapper-review-clients container" id="review-clients">
  <div class="review-clients">
    <%= image_tag("home_reviews/barbara_reis.png", class: "client-picture") %>
    <h4 class="text-center"><%= t('home.client_name_2') %></h4>
    <h5 class="text-center"><%= t('home.client_city_2') %></h5>
    <p class="text-center"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
    <p class="text-center" id="how-works-p"><%= t('home.client_review_2') %></p>
  </div>
</div>

<div>
  <h3 style="font-size: 50px"><%= t('home.media_reviews') %></h3>
  <ul class="news-logos">
    <li class="flex-item">
      <a target="_blank" href="https://www.sapo.pt/noticias/economia/huubster-coloca-um-travao-nas-mas-compras-de-_59a45119601ffc007c044f89">
        <%= image_tag("home_media/sapo.png", class: "news-logos-img") %>
      </a>
    </li>
    <li class="flex-item">
      <a target="_blank" href="http://www.jornaleconomico.sapo.pt/noticias/huubster-a-start-up-que-quer-trazer-transparencia-a-compra-de-carros-usados-202027">
        <%= image_tag("home_media/jornaleconomico.png", class: "news-logos-img") %>
      </a>
    </li>
    <li class="flex-item">
      <a target="_blank" href="https://eco.pt/2017/08/28/huubster-coloca-um-travao-nas-mas-compras-de-veiculos-usados/">
        <%= image_tag("home_media/economiaonline.png", class: "news-logos-img") %>
      </a>
      </li>
  </ul>
</div>