<div class="banner-wrapper">
  <h1 class="text-white"><%= t('home.banner_heading') %></h1>

  <section class="cd-intro">
    <h2 class="cd-headline rotate-1">
      <span class="text-white"><%= t('home.banner_subheading') %></span>
      <% if I18n.locale == :pt %>
        <span class="txt-rotate" data-period="2000" data-rotate='[ "carros", "motores", "travões", "óleo da embraiagem", "alavancas de velocidades", "faróis" ]'></span>
      <% else %>
        <span class="txt-rotate" data-period="2000" data-rotate='[ "cars", "engines", "brakes", "clutch oil", "shift levers", "headlights" ]'></span>
      <% end %>
    </h2>
  </section>

  <button type="button" class="btn btn-primary btn-lg container"><%= t('home.button_bookings') %></button>
  <%= video_tag("banner_home2.mp4", autoplay: true, loop: true, poster:"/assets/images/joao_ramadas.jpg") %>
  <section id="banner-button-down" class="demo">
    <a href="#how-works"><span></span></a>
  </section>
</div>

<section id="how-works" style="padding-top: 60px">
  <div class="container">
    <h3 class="subheading text-center"><%= t('home.how_works') %></h3>
    <%= render "how_works" %>
  </div>
</section>

<section id="pricing" class="pricing" style="padding-top: 60px; padding-bottom: 60px">
  <div>
    <div class="container">
      <h3 class="subheading text-center text-white" style="padding-bottom: 12px"><%= t('home.pricing') %></h3>
      <%= render "pricing" %>
    </div>
  </div>
</section>

<section id="reviews" class="interested" style="padding-top: 60px">
  <div class="container">
    <h3 class="subheading text-center"><%= t('home.client_reviews') %></h3>
  </div>
  <%= render "review_clients" %>

  <div class="interested">
    <div class="container">
      <h3 class="subheading text-center"><%= t('home.media_reviews') %></h3>
      <%= render "review_media" %>
    </div>
  </div>
</section>

<section id="booking" style="padding-top: 60px">
  <div class="container">
    <h3 class="subheading text-center"><%= t('home.bookings') %></h3>
  </div>
  <%= render "booking" %>
</section>

<section id="faq" style="padding-top: 60px">
<div class="interested">
  <div class="container">
    <h3 class="subheading text-center"><%= t('home.faq') %></h3>
    <%= render "faq" %>
  </div>
</div>
</section>

<div class="interested">
  <div class="container">
    <h3 class="subheading text-center"><%= t('home.interested') %></h3>
    <p><%= t('home.interested_p1') %></p>
    <p><%= t('home.interested_p2') %></p>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    /* Banner Animation */
    var TxtRotate=function(t,e,i){this.toRotate=e,this.el=t,this.loopNum=0,this.period=parseInt(i,10)||2e3,this.txt="",this.tick(),this.isDeleting=!1};TxtRotate.prototype.tick=function(){var t=this.loopNum%this.toRotate.length,e=this.toRotate[t];this.isDeleting?this.txt=e.substring(0,this.txt.length-1):this.txt=e.substring(0,this.txt.length+1),this.el.innerHTML='<span class="wrap">'+this.txt+"</span>";var i=this,s=300-100*Math.random();this.isDeleting&&(s/=2),this.isDeleting||this.txt!==e?this.isDeleting&&""===this.txt&&(this.isDeleting=!1,this.loopNum++,s=500):(s=this.period,this.isDeleting=!0),setTimeout(function(){i.tick()},s)},window.onload=function(){for(var t=document.getElementsByClassName("txt-rotate"),e=0;e<t.length;e++){var i=t[e].getAttribute("data-rotate"),s=t[e].getAttribute("data-period");i&&new TxtRotate(t[e],JSON.parse(i),s)}var o=document.createElement("style");o.type="text/css",o.innerHTML=".txt-rotate > .wrap { border-right: 0.08em solid #666 }",document.body.appendChild(o)};

    /* Accordion */
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].onclick = function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight){
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        } 
      }
    };

    /* Map */
    // $(document).ready(function () {
      // $('path').hover(
      //   (function () {
      //     // alert($(this).attr('id'));
      //     alert($(this).attr('id'));
      // }));
    // });

    /* Map */
    $(function() {
      $( document ).tooltip({
        track: true,
        position: {
            my: "left top+20 center",
            at: "right center"
        }
    }); 
    
    $( "path" ).tooltip({
        items: ":not([disabled])",
        content: function() {
            var title = $( this ).find( "title" ),
                content;
            if ( title.length ) {
                title.attr( "data-rect", $( this ).attr( "id" ) )
                    .appendTo( "body" );
            } else {
                title = $( "[data-rect='" +
                          $( this ).attr( "id" ) + "']" );
            }
            return title.html();
        },
        track: true, 
        position: { 
            my: "left top+20 center", 
            at: "right center" } 
    });
});
  </script>
<% end %>