<div class="banner-wrapper">
  <h1 class="text-white">Comprar um carro usado está a dar-te dores de cabeça?</h1>

  <section class="cd-intro">
    <h2 class="cd-headline rotate-1">
      <span class="text-white">Sabemos tudo sobre</span>
      <span class="cd-words-wrapper">
        <b class="is-visible">motores</b>
        <b>travões</b>
        <b>óleo da embraiagem</b>
        <b>alavancas de velocidades</b>
      </span>
      <span class="text-white">.</span>
    </h2>
  </section>

  <button type="button" class="btn btn-primary btn-lg">Pede uma avaliação</button>
  <%= video_tag("banner_home.mp4", autoplay: true, loop: true) %>
</div>

<div class="container">
  <h3 class="subheading text-center">Como Funciona</h3>
  <%= render "how_works" %>
</div>

<div class="pricing">
  <div class="container">
    <h3 class="subheading text-center">Preços</h3>
    <%= render "pricing" %>
  </div>
</div>

<div class="container">
  <h3 class="subheading text-center">O que os nossos clientes dizem sobre nós</h3>
</div>
<%= render "review_clients" %>

<div class="interested">
  <div class="container">
    <h3 class="subheading text-center">Eles falam sobre a Huubster</h3>
    <%= render "review_media" %>
</div>

<div class="interested">
  <div class="container">
    <h3 class="subheading text-center">Perguntas Frequentes</h3>
    <%= render "faq" %>
  </div>
</div>

<div class="interested">
  <div class="container">
    <h3 class="subheading text-center">Interessado?</h3>
    <p>We're always available to hear about you or answer your questions on our web platform, Facebook, or through email.</p>
    <p>If you are considering buying a car, or just want to say hi, we're here for you.</p>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    /* Banner Animation */
    var animationDelay = 3500;
     
    animateHeadline($('.cd-headline'));
     
    function animateHeadline($headlines) {
      $headlines.each(function(){
        var headline = $(this);
        //trigger animation
        setTimeout(function(){ hideWord( headline.find('.is-visible') ) }, animationDelay);
        //other checks here ...
      });
    }

    function hideWord($word) {
      var nextWord = takeNext($word);
      switchWord($word, nextWord);
      setTimeout(function(){ hideWord(nextWord) }, animationDelay);
    }
     
    function takeNext($word) {
      return (!$word.is(':last-child')) ? $word.next() : $word.parent().children().eq(0);
    }
     
    function switchWord($oldWord, $newWord) {
      $oldWord.removeClass('is-visible').addClass('is-hidden');
      $newWord.removeClass('is-hidden').addClass('is-visible');
    }

    singleLetters($('.cd-headline.letters').find('b'));
     
    function singleLetters($words) {
      $words.each(function(){
        var word = $(this),
          letters = word.text().split(''),
          selected = word.hasClass('is-visible');
        for (i in letters) {
          letters[i] = (selected) ? '<i class="in">' + letters[i] + '</i>': '<i>' + letters[i] + '</i>';
        }
          var newLetters = letters.join('');
          word.html(newLetters);
      });
    }

    /* Accordion */
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].onclick = function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight){
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        } 
      }
    }
  </script>
<% end %>